* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn-filter-group {
  padding-top: 20px;
  padding-bottom: 20px;
}

.filter-thumbnail {
  max-width: 260px;
  margin: 20px;
}

.filter-thumbnail-img {
  max-width: 260px;
  height: 230px;
}